
// Figtree font
.figtree-normal {
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.figtree-display {
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
// end - Figtree font

.wrapper {
    padding: 0;
}

