
/* utilities */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}


/* components */
.testimonial-grid {
    display: grid;
    gap: 1.5rem;
    padding-block: 4rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

.testimonial {
  font-size: $font-size-base;
  padding: 2rem;
  border-radius: 0.5rem;
  border: solid 1px $gray-200;
  box-shadow: 2.5rem 3.75rem 3rem -3rem $gray-400;
  background-color: $gray-100;
}

@media (min-width: 60em) {
    .grid-col-span-2 {
        grid-column: span 2;
    }

    .testimonial-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .testimonial:last-child {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .testimonial img {
        width: 80%;
    }
}

.testimonial img {
  width: 600px;
  max-width: 100%;
  aspect-ratio: 16 / 13;
  border-radius: $border-radius-lg;
  border: 1px solid $gray-400;
  object-fit: cover;
}

.testimonial .content {
  font-weight: $font-weight-normal;
  line-height: 1.5;

  .title {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    margin-bottom: 0.25rem;
  }

  .subtitle {
    font-size: $font-size-base;
    margin-bottom: 0.5rem;
    opacity: 0.75;
  }
}

.testimonial .position {
  font-size: $font-size-root;
  opacity: 0.5;
}

.testimonial > p:first-of-type {
  font-size: $font-size-sm;
  line-height: 1.2;
}

.testimonial > p:last-of-type {
  opacity: 0.7;
}